@page "/currencies"
@using Abc.Data
@using Abc.Infra
@using Abc.Soft.Movies.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject IDbContextFactory<AbcSoftMoviesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="currencies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Currencies">
    <PropertyColumn Property="currency => currency.Code" />
    <PropertyColumn Property="currency => currency.Name" />
    <PropertyColumn Property="currency => currency.Symbol" />

    <TemplateColumn Context="currency">
	    <MyIndexItem BasePath="currencies" Id="@currency.Id" />
    </TemplateColumn>
</QuickGrid>

@code {
    private AbcSoftMoviesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
