
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Abc.Soft.Movies.Client</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="nav flex-column">
		<MyNavLink Href="" Match="NavLinkMatch.All" IconClass="bi-house-door-fill-nav-menu" Text="Home" />
		<MyNavLink Href="movies" IconClass="bi-plus-square-fill-nav-menu" Text="Movies" />
		<MyNavLink Href="counter" IconClass="bi-plus-square-fill-nav-menu" Text="Counter" />
		<MyNavLink Href="weather" IconClass="bi-list-nested-nav-menu" Text="Weather" />
	</nav>
</div>

