
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Abc.Soft.Movies.Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3"> 
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

			
        <MyNavLink Href="movies" IconClass="bi-plus-square-fill-nav-menu" Text="Movies"></MyNavLink>
        <MyNavLink Href="counter" IconClass="bi-plus-square-fill-nav-menu" Text="Counter"></MyNavLink>
        <MyNavLink Href="weather" IconClass="bi-list-nested-nav-menu" Text="Weather"></MyNavLink>

    </nav>
</div>

