@page "/countries/create"
@using Microsoft.EntityFrameworkCore
@using Abc.Data
@inject IDbContextFactory<Abc.Soft.Movies.Data.AbcSoftMoviesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Country</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Country" OnValidSubmit="AddCountry" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Country.Name" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Country.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="isocode" class="form-label">IsoCode:</label> 
                <InputText id="isocode" @bind-Value="Country.IsoCode" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Country.IsoCode" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="capital" class="form-label">Capital:</label> 
                <InputText id="capital" @bind-Value="Country.Capital" class="form-control" /> 
                <ValidationMessage For="() => Country.Capital" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/countries">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Country Country { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCountry()
    {
        using var context = DbFactory.CreateDbContext();
        context.Country.Add(Country);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/countries");
    }
}
