@page "/countries"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data
@using Abc.Soft.Movies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Abc.Soft.Movies.Data.AbcSoftMoviesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="countries/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Country">
    <PropertyColumn Property="country => country.Name" />
    <PropertyColumn Property="country => country.IsoCode" />
    <PropertyColumn Property="country => country.Capital" />

    <TemplateColumn Context="country">
	    <MyIndexItem BasePath="countries" Id="@country.Id" />
    </TemplateColumn>
</QuickGrid>

@code {
    private AbcSoftMoviesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
