@page "/movies"
@using Abc.Infra
@using Abc.Soft.Movies.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject IDbContextFactory<AbcSoftMoviesContext> DbFactory
@using Abc.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Movies">
    <PropertyColumn Property="movie => movie.Name" />
    <PropertyColumn Property="movie => movie.ValidFrom" Title="Release Date" />
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />

    <TemplateColumn Context="movie">
	    <MyIndexItem BasePath="movies" Id="@movie.Id" />
    </TemplateColumn>
</QuickGrid>

@code {
    private AbcSoftMoviesContext context = default!;
    protected override void OnInitialized() =>  context = DbFactory.CreateDbContext();
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
