

<a href="@($"{BasePath}/edit?id={Id}")">Edit</a> |
<a href="@($"{BasePath}/details?id={Id}")">Details</a> |
<a href="@($"{BasePath}/delete?id={Id}")">Delete</a>

@code {
	[Parameter] public string BasePath { get; set; } = string.Empty;
	[Parameter] public int Id { get; set; }
}
